<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

    <!--应用名称-->
    <dubbo:application name="${dubbo.name}"/>

    <!-- dubbo注册地址 -->
    <dubbo:registry address="${dubbo.registry.address}"/>

    <!-- dubbo调用远程接口 -->
    <dubbo:reference id="articleService" cluster="failfast"
                     interface="com.kangyonggan.server.service.ArticleService"
                     lazy="true" check="false" version="${dubbo.server.version}" timeout="${dubbo.timeout}"/>

    <!-- dubbo调用远程接口 -->
    <dubbo:reference id="categoryService" cluster="failfast"
                     interface="com.kangyonggan.server.service.CategoryService"
                     lazy="true" check="false" version="${dubbo.server.version}" timeout="${dubbo.timeout}"/>

</beans>